.menuToggle {
  display: none !important;
}

.hideImg {
  transform: translateX(-100%);
}

.container-title {
  margin: 20px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container-title:hover .right__key__icon {
  color: red;
}

.container-title::before {
  content: "";
  display: block;
  height: 30px;
  width: 4px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: red;
}

@media (max-width: 900px) {
  .menuToggle {
    display: inline !important;
    margin: 10px;
    z-index: 8;
    position: sticky;
    cursor: pointer;
    top: 10px;
  }
  .short_hidden {
    display: none !important;
    width: 0% !important;
    transition: all 1s;
  }
}
